body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #9198e5, #e66465, #767fe2) no-repeat;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  font-family: Roboto, sans-serif;
  font-size: 2em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: rela;
}

h1 {
  font-weight: 100;
  font-size: 8vw;
  color: rgb(252, 248, 248);
}

input,
button {
  height: 2em;
}

input {
  width: 50%;
}
input:focus {
  transform: scale(1.1);
}

button {
  box-shadow: 2px 2px 0.5px rgb(189, 181, 181);
  border: 1px solid white;
  color: white;
  background: none;
}
button:hover {
  background: #6b72bb;
  cursor: pointer;
  transform: scale(1.05);
}
button:active {
  box-shadow: 0px 0px 1px grey;
  transform: scale(0.95);
}

img {
  width: 50vw;
  height: auto;
  box-shadow: 2px 2px 6px grey;
  border-radius: 1%;
  margin: 2em 0;
}

.show-container {
  text-align: center;
  width: 80%;
  margin: 0 auto 2em;
  overflow: hidden;
}

.summary {
  font-size: 1.5em;
  max-height: 30vh;
  overflow-y: scroll;
  padding: 2rem;
  text-align: justify;
}
